<!DOCTYPE html>
<html lang="en-us">
<head>

<meta charset="utf-8"> 
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<title>CISPA is back!</title>
<link rel="stylesheet" type="text/css" href="/css/cispaisback.css"/>
<link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/fftf-cms/static/img/fav.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Facebook and Google could turn into government spies next month." />
<meta property="og:type" content="website"/>
<meta property="og:description" content="Honestly, it's baffling how poorly Congress seems to understand the Internet." />
<meta property="og:image" content="https://www.faxbigbrother.com/images/share_images/badnews.png" />
<meta property="og:url" content="https://www.faxbigbrother.com/" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="action_bar">
    <a class="social twitter" href="#"><em>Tweet this</em></a>
    <a class="social facebook" href="#"><em>Share this</em></a>
    <a class="donate" href="https://donate.fightforthefuture.org">Donate</a>
    <div class="call">Call Congress now: <strong>1-985-222-CISA</strong></div>
    <a class="fftf" href="https://www.fightforthefuture.org" target="_blank"></a>
</div>
<nav>
    <a href="#sendfax">Send a fax</a> •
    <a href="#whatiscisa">What is CISA?</a> •
    <a href="#whyfaxes">Why faxes?</a> •
    <a href="#companies">Companies</a> •
    <a href="#faq">FAQ</a>
</nav>

<header>
    <div class="fax">
        
        <div class="paper">
            <div class="wrap">
                <h1>OPERATION: Fax Big Brother</h1>
                <p>
                    Congress is rushing toward a vote on CISA, the worst spying bill yet. CISA would allow giant companies to share your private data with the government, granting them sweeping legal immunity in the process. Many companies support this so-called “cybersecurity” bill because it makes their privacy policies null and void, allowing them to recklessly share anything from your financial info to your personal thoughts. We’ve already generated millions of faxes to Congress, so now we’re taking the fight directly to the companies.
                </p>
                <h2 id="sendfax">Fax <a href="#companies">these companies</a> to #StopCISA!</h2>
                <div id="compose"></div>
                <p class="hashtag">(Any tweet w/ <strong><a href="https://twitter.com/search?q=%23FaxBigBrother" target="_blank">#faxbigbrother</a></strong> will get faxed too!)</p>
                <div id="disclosures">
                    <p class="disclosure">Your email is only shown in your outgoing fax. We won't add you to any mailing lists. <a href="https://www.fightforthefuture.org/privacy" target="_blank">Privacy</a></p>
                    <p class="disclosure fftf" style="display:none"><a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a> will deliver your fax to Congress and email you with campaign updates. <a href="https://www.fightforthefuture.org/privacy" target="_blank">Privacy</a></p>
                    <p class="disclosure dp" style="display:none"><a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a> will deliver your fax to Congress. <a href="https://demandprogress.org/" target="_blank">Demand Progress</a> will email you with campaign updates. <a href="https://www.fightforthefuture.org/privacy" target="_blank">Privacy</a></p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sections">
    

    <section id="whatiscisa">
        <h2>CISA: the dirty deal between government and corporate giants.</h2>
        <p>It's the dirty deal that lets much of government from the NSA to local police get your private data from your favorite websites and lets them use it without due process.</p>
        <p>The government is proposing a massive bribe—they will give corporations immunity for breaking virtually any law if they do so while providing the NSA, DHS, DEA, and local police surveillance access to everyone's data in exchange for getting away with crimes, like fraud, money laundering, or illegal wiretapping.</p>
        <p>Specifically it incentivizes companies to automatically and simultaneously transfer your data to the DHS, NSA, FBI, and local police with all of your personally-indentifying information by giving companies legal immunity (notwithstanding any law), and on top of that, you can't use the Freedom of Information Act to find out what has been shared.</p>
        <p>The NSA and members of Congress want to pass a "cybersecurity" bill so badly, they’re using the recent hack of the Office of Personnel Management as justification for bringing CISA back up and rushing it through. In reality, the OPM hack just shows that the government has not been a good steward of sensitive data and they need to institute real security measures to fix their problems. The truth is that CISA could not have prevented the OPM hack, and no Senator could explain how it could have. Congress and the NSA are using irrational hysteria to turn the Internet into a place where the government has overly broad, unchecked powers.</p>
    </section>

    <section id="whyfaxes">
        <h2>Why Faxes?</h2>
        <p>Since 2012, online and civil liberties groups and 30,000+ sites have driven more than <strong>2.6 million emails and hundreds of thousands of calls, tweets and more</strong> to Congress opposing overly broad cybersecurity legislation. <strong>Congress has tried to pass CISA in one form or another 4 times, and they were beat back every time by people like you.</strong> It's clear Congress is completely out of touch with modern technology, <em>so this week, as Congress rushes toward a vote on CISA, we are going to send them thousands of faxes,</em> a technology from the 1980s that is hopefully antiquated enough for them to understand.</p>
        <p>Sending a fax is super easy &mdash; you can use this page to send a fax. Any tweet with the hashtag #faxbigbrother will get turned into a fax to Congress too, so what are you waiting for?
        <a href="#sendfax">Click here to send a fax now!</a>
    </section>

    
    <section id="companies">
        <h2>Where do companies stand on CISA?</h2>
        <div class="sidebyside clear">
            <div class="good">
                <h3>Against CISA</h3>
                <span>actually care about your privacy!</span>
                <div class="caret"></div>
                <ul>
                    <li>Automattic (Wordpress)*</li>
                    <li>Cheezburger, Inc.*</li>
                    <li>Craigslist*
                    <li>Duck Duck Go</li>
                    <li>Entertainment Consumers Association*</li>
                    <li>Mozilla</li>
                    <li>New York Tech Meetup*</li>
                    <li>Private Internet Access</li>
                    <li>Reddit*</li>
                    <li>ServInt*</li>
                    <li>TorServers*</li>
                </ul>
                <span>*stated opposition in 2013</span>
            </div><div class="crappy">
                <h3>Silent and/or Support CISA</h3>
                <span>definitely don't care about your privacy.</span>
                <div class="caret"></div>
                <ul>
                    <li>Facebook</li>
                    <li>Google</li>
                    <li>AT&amp;T</li>
                    <li>Comcast</li>
                    <li>Bank of America</li>
                    <li>Blue Cross Blue Shield</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="faq">
        <h2>FAQ</h2>
        <h3>What is CISA?</h3>
        <p>CISA stands for the <a href="https://www.congress.gov/bill/114th-congress/senate-bill/754/text" target="_blank">Cybersecurity Information Sharing Act</a> of 2015.</p>
        <h3>Wait, wasn't there some other bill like that?</h3>
        <p>Yep, you’re probably thinking of CISPA, which was already resoundingly rejected in Congress three times after overwhelming public outcry. Here's a <a href="http://www.dailydot.com/politics/congress-cybersecurity-threat-sharing-bills-explained-cisa-cispa-pcna/" target="_blank">good comparison</a> of the various bills at play.</p>
        <h3>Why are they trying again?</h3>
        <p>Keeping the government's information secure has come back into vogue because of some high-profile exploitations of bad government and corporate data practices. While companies have been hacked, like Target, the most profound breach we know about was this year's hack of the Office of Personnel Management (OPM) – this is the agency that holds the records on federal employees' security clearances. That means the most sensitive information about people filling some of the most sensitive positions in the federal government -- along with tens of millions of others -- have been compromised.</p>
        <p>Because of all this, Congress believes it must do <em>something</em> &mdash; including the wrong thing.</p>
        <h3>So how does CISA improve cybersecurity?</h3>
        <p>It doesn't. <a href="http://cyberlaw.stanford.edu/files/blogs/technologists_info_sharing_bills_letter_w_exhibit.pdf" target="_blank">Just ask the experts.</a> In fact, it appears that Congress <a href="http://blog.erratasec.com/2015/03/what-ever-it-is-cisa-isnt-cybersecurity.html#.VbKm0Sv9vuP" target="_blank">didn't bother consulting with anyone</a> who knew about cybersecurity when drafting this bill.</p>
        <p>That doesn't mean there isn't work to do. While OPM's hack is still being investigated, this attack and almost every other one we know about points to a much different culprit: incompetence. For instance, <a href="http://www.nytimes.com/2015/06/21/us/attack-gave-chinese-hackers-privileged-access-to-us-systems.html?smid=tw-share&_r=2" target="_blank">using the word "password"</a> as a password.</p>
        <h3>Then what is CISA really about?</h3>
        <p>It allows companies to share your information with the government, grants sweeping immunity for companies that do, and, most revealingly, requires automated sharing with:</p>
        <ul class="departments">
            <li>
                <img src="/images/site/deptcommerce.png"/>
                The Department of Commerce
            </li><li>
                <img src="/images/site/deptdefense.png"/>
                The Department of Defense<br/>(home of the NSA)
            </li><li>
                <img src="/images/site/depthomelandsecurity.png"/>
                The Department of Homeland Security
            </li><li>
                <img src="/images/site/deptjustice.png"/>
                The Department of Justice<br/>(home of the FBI)
            </li><li>
                <img src="/images/site/depttreasury.png"/>
                The Department of the Treasury
            </li><li>
                <img src="/images/site/deptodni.png"/>
                Office of the Director of National Intelligence
            </li>
        </ul>
        <h3>Is CISA all we have to worry about?</h3>
        <p>If only. But our previous victories before set this cybersecurity charade back miles -- that is, until the government's OPM incompetence made this a front-page issue again. If you want to see the other zombie cybersharing bills shuffling through Congress, <a href="http://www.dailydot.com/politics/congress-cybersecurity-threat-sharing-bills-explained-cisa-cispa-pcna/" target="_blank">read this.</a></p>
        <h3>Alright, then how do we stop all this?</h3>
        <p>By all accounts, CISA is the biggest bully on the playground, and we must knock it down. That's why we're focusing on it first. Our allies on the Hill have made it clear that the biggest problem is politicians feel the need to do something. And right now that means they're even willing to vote for a bad bill with terrible consequences. They need to hear from you to know this kind of bullshit isn't acceptable.</p>
        <p>You'll hear from us again for the next fight. Until then, make sure your Senators, your Representatives and your President know you don't support CISA or government spying, and please share this page to spread the word!</p>
        <div class="socials">
            <a href="#" class="social facebook">Share this</a>
            <a href="#" class="social twitter">Tweet this</a>
        </div>
    </section>
</div>
<footer>
    <div class="gutter">
        <p>
            <strong>Press inquiries:</strong> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#114;&#101;&#115;&#115;&#64;&#102;&#105;&#103;&#104;&#116;&#102;&#111;&#114;&#116;&#104;&#101;&#102;&#117;&#116;&#117;&#114;&#101;&#46;&#111;&#114;&#103;">&#112;&#114;&#101;&#115;&#115;&#64;&#102;&#105;&#103;&#104;&#116;&#102;&#111;&#114;&#116;&#104;&#101;&#102;&#117;&#116;&#117;&#114;&#101;&#46;&#111;&#114;&#103;</a> / 508-474-5248
            <br/><br/>
            Faxes powered by <a href="https://faxrobot.com" target="_blank">Fax Robot</a>.
        </p>
        <p class="small">A project of <a class="dark" href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a>. No copyright intended.</p>
        <a class="dark" href="https://www.fightforthefuture.org" target="_blank"><img src="/images/site/fftf-logo-white.png" class="footer_logo"></a>
    </div>
</footer>
<script type="text/javascript" src="/js/main.min.js"></script>
{% if access_token %}
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();
        
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4)
            {
                var response = JSON.parse(xhr.response);

                if (response.error)
                    return console.log('Fax lookup error:', response.error);

                new FaxModalController({fax: response});

                if (util.getParameterByName('e'))
                    faxForm.trigger('hideForm');
            }
        }.bind(this);
        xhr.open("get", '/fax/{{ access_token }}/json', true);
        xhr.send();
    </script>
{% endif %}
<script type="text/javascript">
  var _sf_async_config = { uid: 47331, domain: 'faxbigbrother.com', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26576645-27', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>